# Enable Debug mode
DEBUG=True
# Use Mysql DB
MYSQL=True
# Database Username
DB_USER="zAbuQasem"
# Database Password
DB_PASS="Sup3r_S3cur3_P455w0rD"
# Database Host
DB_HOST="10.10.10.10"
# Database Name
DB_NAME="django_app"
# print app version to the home page
APP_VERSION="v1.0.0"
# Override SecretKey
SECRET_KEY="1234"
